<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quest QnA!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= if Coherence.current_user(@conn) do %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Quest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-row-reverse collapse navbar-collapse" id="navbarSupportedContent">
          <%= link "Logout", to: session_path(@conn, :delete), method: :delete, data: [confirm: "Are you sure?"] %>
        </div>
      </nav>
    <% end %>
    <div class="container-fluid container-full d-flex full-width">
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info alert-box alert-dismissable" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger alert-box alert-dismissable" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <main role="main" class="d-flex full-width container-main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      <%= if get_flash(@conn, :info) || get_flash(@conn, :error) do %>
        $('.alert-dismissable').fadeTo(2000, 500).slideUp(500, function(){
          $(".alert-dismissible").alert('close');
        });
      <% end %>
    </script>
  </body>
</html>
