.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}
.full-height {
  height: 100%;
}

.container-full {
  height: 100%;
}

.container-fluid.container-full {
  padding-left: 0;
  padding-right: 0;
}
.card-logo {
  font-size: 80px;
  font-weight: bold;
}
.full-width {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.5rem 1rem;
}
.half-width {
  width: 50%;
}
.m-l-15 {
  margin-left: 15px;
}
.m-r-15 {
  margin-right: 15px;
}

.reg-box {
  min-width: 400px;
}
.setup-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 100px;
}
.alert-box {
  z-index: 99999999;
  margin-left: 20px;
  margin: 20px;
  flex: 1 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 80px;
}
.modal-backdrop {
  overflow: scroll;
}